<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/styles.css" rel="stylesheet" />
</head>
<body class="container">
    <div class="row">
        <div class="col-xs-12">
            <ul>
                <li><a href="@Url.Action("AddKeyword", "Home")">Add a New Keyword</a></li>
                <li><a href="@Url.Action("AddResource", "Home")">Add a New Resource</a></li>
                <li><a href="@Url.Action("AssignKeyword", "Home")">Assign Keywords to Existing Resource</a></li>
            </ul>
        </div>
    </div>


    <div>
        @RenderBody()
    </div>
</body>
</html>
