@using teHelperResourceManager.Models;
@model ResourceKeywordViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        @if (TempData["NewKeyword_Success"] as Boolean? == true)
        {
            <p class="centered success-message">Keyword has been added!</p>
        }
        else if (TempData["NewKeyword_Success"] as Boolean? == false)
        {
            <p class="centered failure-message">We weren't able to add your keyword, please try again.</p>
        }

        @if (TempData["NewResource_Success"] as Boolean? == true)
        {
            <p class="centered success-message">Resource has been added!</p>
        }
        else if (TempData["NewResource_Success"] as Boolean? == false)
        {
            <p class="centered failure-message">We weren't able to add your resource, please try again.</p>
        }

        @if (TempData["UpdateResource_Success"] as Boolean? == true)
        {
            <p class="centered success-message">Resource has been updated!</p>
        }
        else if (TempData["UpdateResource_Success"] as Boolean? == false)
        {
            <p class="centered failure-message">We weren't able to update your resource, please try again.</p>
        }

        @if (TempData["DeleteResource_Success"] as Boolean? == true)
        {
            <p class="centered success-message">Resource has been deleted.</p>
        }

        <h2>teHelper Existing Resources</h2>
    </div>

    <div class="col-md-6">
        <h3>Technical Resources</h3>
        <table class="table">
            <tr>
                <th>Technical Resource Name</th>
                <th>Keywords</th>
            </tr>

            @foreach (KeyValuePair<Resource, List<Keywords>> kvp in Model.ResourcesAndKeywords)
            {
                if (!kvp.Key.PathwayResource)
                {
                    <tr style="border: 1pt solid black;">
                        <td><a href="@Url.Action("Edit", "Resource", new { id = kvp.Key.ResourceId })">@kvp.Key.ResourceTitle</a></td>
                        <td>
                            @foreach (Keywords kw in kvp.Value)
                            {
                                <a class="keyword-label" href="@Url.Action("Detail", "Keyword", new { id = kw.KeywordId })">@kw.Keyword</a>
                            }
                        </td>
                    </tr>
                }
            }

        </table>
    </div>

    <div class="col-md-6">
        <h3>Pathway Resources</h3>
        <table class="table">
            <tr>
                <th>Pathway Resource Name</th>
                <th>Keywords</th>
            </tr>

            @foreach (KeyValuePair<Resource, List<Keywords>> kvp in Model.ResourcesAndKeywords)
            {
                if (kvp.Key.PathwayResource)
                {
                    <tr style="border: 1pt solid black;">
                        <td><a href="@Url.Action("Edit", "Resource", new { id = kvp.Key.ResourceId })">@kvp.Key.ResourceTitle</a></td>
                        <td>
                            @foreach(Keywords kw in kvp.Value)
                            {
                                <a class="keyword-label" href="@Url.Action("Detail", "Keyword", new { id = kw.KeywordId })">@kw.Keyword</a>
                            }

                        </td>

                    </tr>
                }
            }

        </table>
    </div>
</div>
